doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
    style
      include main.css
  body
    textarea#js-editor.editor(
      autocomplete='off',
      autocorrect='off',
      autocapitalize='off',
      spellcheck='false'
    )

    script
      include app.js
