* {
  box-sizing: border-box;
}

body {
  color: #333;
  font: 1em/1.4 "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  margin: 0;
}

.editor {
  border: 0;
  color: currentColor;
  display: block;
  font: inherit;
  width: 100vw;
  height: 100vh;
  resize: none;
  padding: 1em;
}

.editor:focus {
  outline: 0;
}

.editor::-webkit-input-placeholder {
  color: currentColor;
  opacity: .9;
}

.editor::-webkit-input-placeholder:after {
  content: "                        ◎ \A                         │ \A                         │                ┌─────────────────────┐ \A                  ┌──────◇──────┐         │                     │ \A                  │             │         │                     │ \A              ┏■──┘━━━━━━━━━━━━━└──■┓     │                     │ \A              ┃*━━━━━━━━━━━━━━━━━━━*┃     ◍   Make some notes!  │ \A              ┃┃   ■■■■■   ■■■■■   ┃┃    ╱                      │ \A              ┃┃   ■■■■■   ■■■■■   ┃┃   ╱                       │ \A              ┃┃   ■■■■■   ■■■■■   ┃┃  ╱──◍                     │ \A              ┃*━━━━━━━━━━━━━━━━━━━*┃     └─────────────────────┘ \A             ◆─────◆─────◆─────◆─────◆ \A             │╲***╱*╲***╱*╲***╱*╲***╱│ \A             │*╲*╱***╲*╱***╲*╱***╲*╱*│ \A             └──◆─────◆─────◆─────◆──┘ \A              ┗━━━━━━━━━━━━━━━━━━━━━┛ \A       ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓ \A ┏━━━━━┃///////////////////////////////////┃━━━━━┓ \A ┃ ┌─┐ ┃.▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫▫.┃ ┌─┐ ┃ \A ┃ │ │ ┃.▫          ╔═════════╗          ▫.┃ │ │ ┃ \A ┗━│ │━┃.▫          ║   ┌┐ ●─○║          ▫.┃━│ │━┛ \A   │ │ ◎─▣──────────▣   ││  ┌─▣──────────▣─◎ │ │ \A   │ │ ┃.▫▨▨▨▨▨▨▨▨▨▨└┐ ┌┘└┐┌┘ ║▨▨▨▨▨▨▨▨▨▨▫.┃ │ │ \A   │ │ ┃.▫◹◹◹◹◹◹◹◹◹◹║└─┘  └┘  ║◸◸◸◸◸◸◸◸◸◸▫.┃ │ │ \A   │ │ ┃.           ╚═════════╝           .┃ │ │ \A  ┏━━━┓┃.                                 .┃┏━━━┓ \A  ┗━━━┛┃.              notes              .┃┗━━━┛ \A   │ │ ┃.                                 .┃ │ │ \A   │ │ ┗━━━━━━///////////////////////━━━━━━┛ │ │ \A   │ │       ┃◦                     ◦┃       │ │ \A   │ │       ┃   ┏━━━━━━━━━━━━━━━┓   ┃       │ │ \A   │ │       ┃◦  ┃▤▤▤▤▤▤▤▤▤▤▤▤▤▤▤┃  ◦┃       │ │ \A   │ │       ┃   ┗━━━━━━━━━━━━━━━┛   ┃       │ │ \A ┌──◎──┐     ┃◦                     ◦┃     ┌──◎──┐ \A │ ┌─┐ │ ┏━━━━━━━━━━━━┓◬◬◬◬◬┏━━━━━━━━━━━━┓ │ ┌─┐ │ \A └─┘ └─┘ ┃            ┃━━━━━┃            ┃ └─┘ └─┘ \A         ┃            ┃     ┃            ┃ \A         ┃            ┃     ┃            ┃ \A         ┃            ┃     ┃            ┃ \A         ┃            ┃     ┃            ┃ \A         ┃////////////┃     ┃////////////┃ \A        ┌──────────────┐   ┌──────────────┐ \A        │              │   │              │ \A        └──────────────┘   └──────────────┘ \A         ┃////////////┃     ┃////////////┃ \A         ┃            ┃     ┃            ┃ \A         ┃            ┃     ┃            ┃ \A         ┃            ┃     ┃            ┃ \A         ┃            ┃     ┃            ┃ \A       ┌────────────────┐ ┌────────────────┐ \A       │                │ │                │ \A       ┏━━━━━━━━━━━━━━━━┓ ┏━━━━━━━━━━━━━━━━┓ \A       ┗━━━━━━━━━━━━━━━━┛ ┗━━━━━━━━━━━━━━━━┛ \A   ";
  display: inline-block;
  font-family: Menlo, monospace;
  font-size: .7em;
  white-space: pre;
}

.footer {
  padding: 1em;
  position: absolute;
  right: 0;
  bottom: 0;
}

[data-invert-colors="true"] > * {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
