*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: rgba(0,0,0,0.8);
  font: 1em/1.4 "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

.editor {
  background: transparent;
  border: 0;
  color: currentColor;
  display: block;
  font: inherit;
  width: 100vw;
  height: 100vh;
  resize: none;
  padding: 1em;
  outline: 0;
  white-space: pre;
  overflow-y: auto;
  overflow-x: hidden;
}

.editor::-webkit-input-placeholder {
  color: currentColor;
  opacity: .9;
}

.editor::-webkit-input-placeholder:after {
  content: "            o \A             | \A           ,'~'. \A          /     \\ \A         |   ____|_ \A         |  '___,,_'     .----------------. \A         |  ||(o |o)|   ( MAKE SOME NOTES! ) \A         |   -------     ,----------------' \A         |  _____|     -' \A         \\  '####, \A          ------- \A        /________\\ \A      (  )        |) \A      '_ ' ,------|\\ \A     /_ /  |      |_\\ \A    /_ /|  |     o| _\\ \A   /_ / |  |      |\\ _\\____/|___ \A  (  (  |  |      | (_,_,_,____/ \A   \\ _\\ |   ------| \A    \\ _\\|_________| \A     \\ _\\ \\__\\\\__\\ \A   ||/__/ |__||__| \A          |__||__| \A          |__||__| \A          /__)/__) \A         /__//__/ \A       /__//__/. \A     .'    '.   '. \A    (________)____) \A   ";
  display: inline-block;
  font-family: "Droid Sans Mono", "Lucida Console", "Andale Mono", "Courier New", "Courier", monospace;
  font-size: .7em;
  white-space: pre;
}

.footer {
  padding: 1em;
  position: absolute;
  right: 0;
  bottom: 0;
}

.github-link {
  color: currentColor;
  display: inline-block;
}

.github-link__icon {
  fill: currentColor;
}

